<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>Ihanapmoko-webapp</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SearchServlet</display-name>
    <servlet-name>SearchServlet</servlet-name>
    <servlet-class>com.ihanapmoko.servlet.SearchServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SearchServlet</servlet-name>
    <url-pattern>/SearchServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>CommentsServlet</display-name>
    <servlet-name>CommentsServlet</servlet-name>
    <servlet-class>com.ihanapmoko.servlet.CommentsServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>CommentsServlet</servlet-name>
    <url-pattern>/CommentsServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertisementServlet</display-name>
    <servlet-name>AdvertisementServlet</servlet-name>
    <servlet-class>com.ihanapmoko.servlet.AdvertisementServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementServlet</servlet-name>
    <url-pattern>/AdvertisementServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertisementAttachmentServlet</display-name>
    <servlet-name>AdvertisementAttachmentServlet</servlet-name>
    <servlet-class>com.ihanapmoko.servlet.AdvertisementAttachmentServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementAttachmentServlet</servlet-name>
    <url-pattern>/AdvertisementAttachmentServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AdvertisementInformationServlet</display-name>
    <servlet-name>AdvertisementInformationServlet</servlet-name>
    <servlet-class>com.ihanapmoko.servlet.AdvertisementInformationServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AdvertisementInformationServlet</servlet-name>
    <url-pattern>/AdvertisementInformationServlet</url-pattern>
  </servlet-mapping>
</web-app>